name: PHPCS

on: push

jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: php-actions/composer@v6
        with:
          php_version: 8.1

      - name: PHP Code Sniffer
        uses: php-actions/phpcs@v1
        with:
          path: public/
          standard: PSR12
          warning_severity: 0
          php_version: 8.1
